<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelCucumberSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="utilities.ExtentReportListener"/>
    </listeners>
    <test name="CucumberTests">
        <classes>
            <class name="testrunner.TestNGrunner"/>
        </classes>

    </test>
</suite>